<ion-header>
  <ion-toolbar color="primary">
    <ion-title>🎮 Ofertas de Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    placeholder="Buscar juego..."
    (ionChange)="searchGame()"
  ></ion-searchbar>

  <ion-spinner *ngIf="loading" name="crescent" class="center-spinner"></ion-spinner>

  <ion-list *ngIf="!loading">
    <ion-card *ngFor="let game of games">
      <img [src]="game.thumb" alt="thumbnail" />
      <ion-card-header>
        <ion-card-title>{{ getTitle(game) }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          <strong>Precio:</strong> ${{ getPrice(game) }}
        </p>
        <p *ngIf="game.cheapestDealID || game.dealID">
          <ion-button
            size="small"
            fill="outline"
            color="success"
            [href]="'https://www.cheapshark.com/redirect?dealID=' + (game.cheapestDealID || game.dealID)"
            target="_blank"
          >
            Ver oferta
          </ion-button>
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
